# Dependencies
node_modules/
**/node_modules/
venv/
**/venv/
__pycache__/
**/__pycache__/
*.pyc

# Production Build Outputs
dist/
**/dist/
build/
**/build/

# Environment Variables
.env
.env.local
.env.*.local

# Logs & SQLite
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.db
*.db-shm
*.db-wal

# OS & Editor
.DS_Store
.vscode/
.idea/

# Vercel
.vercel
